@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBDBCC;
}

header#a {
    background-color: #2F2724;
}

header#b {
    background-color: #5E211B;
    color: white;
    text-align: center;
    margin: 21px;
    position: relative;
    top: -44px;
    padding: 47px;
}

header#c {
    background-color: #5E211B;
    color: white;
    text-align: center;
    margin: 21px;
    position: relative;
    top: -44px;
    padding: 47px;
}

header#d {
    background-color: #5E211B;
    color: white;
    text-align: center;
    margin: 21px;
    position: relative;
    top: -44px;
    padding: 47px;
}

#c p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#c h1 {
    font-size: 32px;
    position: relative;
    top: -10px;
    white-space: nowrap;
    left: -10px;
    font-family: 'Open Sans';
}

#d h1 {
    font-size: 32px;
    position: relative;
    top: -10px;
    font-family: 'Open Sans';
    left: 1px;
}

#d p {
    font-size: 25px;  
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    font-size: 32px;
    position: relative;
    top: -10px;
    font-family: 'Open Sans';
    white-space: nowrap;
    left: -7px;
}

header > p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

img#a {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 8px;
}

img#b {
    margin-left: -57px;
    position: relative;
    top: 73px;
    max-width: 377px;
}

img#c {
    position: relative;
    top: -142px;
    max-width: 125px;
}

img#d {
    position: relative;
    top: -292px;
    left: -190px;
    max-width: 171px;

}

img#e {
    margin-top: -102px;
    position: relative;
    top: -288px;
    left: 137px;
    max-width: 154px;
}

img#f {
    display: block;
    margin: 0 auto;
    border-radius: 133px;
}

img#g {
    display: block;
    margin: 0 auto;
    border-radius: 133px;
}

img#h {
    display: block;
    margin: 0 auto;
    border-radius: 133px;
}

img#p {
    display: block;
    margin: 0 auto;
    max-width: 298px;
}

img#x {
    position: relative;
    top: 242px;
    left: -83px;
}

h1#a {
    text-align: center;
    position: relative;
    top: 49px;
    font-size: 34px;
    font-family: 'Bugaki', sans-serif;
    white-space: nowrap;                                            
}

h1#b {
    text-align: center;
    top: -64px;
    position: relative;
    font-family: 'Bugaki', sans-serif;
}

h1#w {
    text-align: center;
    position: relative;
    top: -118px;
    font-family: 'Bugaki', sans-serif;
}

h1#e {
    position: relative;
    text-align: center;
    top: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p#a {
    text-align: center;
    position: relative;
    top: 58px;
    font-size: 24px;
    font-family: arial;
}

p#p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 100%;
    width: 0px;
    background-color: #2F2724;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

nav > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
    transition: width 0.3s;
}

nav > a:hover {
    background-color: white;
    color: #2F2724;
}

a#y {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0px;
    margin-top: 62px;
    color: black;
    text-decoration: auto;
    border-radius: 58px;
    background-color: #31d438;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

a#u {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:768px) and (max-width:1024px)  {
    
    img#b {
        margin-left: -6px;
        position: relative;
        top: 66px;
        max-width: 537px;
        left: 122px;
     }
     
     img#c {
        position: relative;
        top: 27px;
        max-width: 223px;
        left: -369px;
    }

    img#d {
        position: relative;
        top: -292px;
        left: -190px;
        max-width: 6px;
    }

    img#e {
        margin-top: -102px;
        position: relative;
        top: -226px;
        left: 456px;
        max-width: 264px;
    }

    header#b {
        background-color: #5E211B;
        color: white;
        text-align: center;
        margin: 64px;
        position: relative;
        top: -44px;
        padding: 47px;
    }


header > h1 {
    font-size: 57px;
    position: relative;
    top: -10px;
    font-family: 'Open Sans';
    white-space: nowrap;
    left: -7px;
}
    
    header#c {
        background-color: #5E211B;
        color: white;
        text-align: center;
        margin: 64px;
        position: relative;
        top: -44px;
        padding: 47px;
    }

    header > p {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #c h1 {
        font-size: 57px;
        position: relative;
        top: -10px;
        white-space: nowrap;
        left: -10px;
        font-family: 'Open Sans';
    }

    #c p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
    
    header#d {
        background-color: #5E211B;
        color: white;
        text-align: center;
        margin: 64px;
        position: relative;
        top: -44px;
        padding: 47px;
    }

    #d h1 {
        font-size: 57px;
        position: relative;
        top: -10px;
        font-family: 'Open Sans';
        left: 1px;
    }

    #d p {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }   
    
img#p {
    display: block;
    margin: 0 auto;
    max-width: 747px;
}

img#x {
    position: relative;
    top: 128px;
    left: -66px;
}

a#u {
    color: white;
    font-size: 42px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 33px;
    display: block;
    padding: 12px 10px 12px 32px;
    transition: width 0.3s;
}

a#y {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 0px;
    margin-top: 62px;
    color: black;
    text-decoration: auto;
    border-radius: 58px;
    background-color: #31d438;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
}